@import '../../../../assets/styles/default/_colors';
@import '../../../../assets/styles/default/_zindex';
@import '../../../../assets/styles//default/_common';

.workspace {
    align-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.header {
    height: 48px;
}

.content {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer {
    height: 48px;
}
