

    <div id="workspace" class="container flex outer full-width full-height bordered workspace">

        <app-header id="header " class="container padding flex inner full-width-padding bordered header"></app-header>

        <ng-container #viewContainer>

                <app-container #template id="content" class="container flex padding inner full-width-padding bordered content" [style.height]="contentHeight+'px'"> -->

                </app-container>

        </ng-container>

        <app-footer if="footer" class="container padding inner flex full-width-padding bordered footer"></app-footer>


    </div>
