$shader0: #000000;
$shader1: #323232;
$shader2: #646464;
$shader3: #868686;
$shader4: #AAAAAA;
$shader5: #BBBBBB;
$shader6: #CCCCCC;
$shader7: #DDDDDD;
$shader8: #EEEEEE;
$shader9: #FFFFFF;

$black: rgba(0, 0, 0);
$black_20: rgba(0, 0, 0, .2);
$black_50: rgba(0, 0, 0, .5);
$black_80: rgba(0, 0, 0, .8);

$shader_20: rgba(255, 255, 255, .2);
$shader_50: rgba(255, 255, 255, .5);
$shader_80: rgba(255, 255, 255, .8);

$primary0: rgba(00, 48, 86);
$primary1: rgba(24, 64, 152);
$primary: rgba(64, 152, 255);
$primary5: rgba(100, 164, 255);
$primary9: rgba(152, 200, 255);

$primary_20: rgba(64, 152, 255, .2);
$primary_50: rgba(64, 152, 255, .5);
$primary_80: rgba(64, 152, 255, .8);

$error: rgba(200, 50, 50);
$error_20: rgba(200, 50, 50, .2);
$error_50: rgba(200, 50, 50, .5);
$error_80: rgba(200, 50, 50, .8);

$warning: rgba(250, 180, 30);
$warning_20: rgba(250, 180, 30, .2);
$warning_50: rgba(250, 180, 30, .5);
$warning_80: rgba(250, 180, 30, .8);

$ok: rgb(40, 180, 40);
$ok_20: rgb(40, 180, 40, .2);
$ok_50: rgb(40, 180, 40, .5);
$ok_80: rgb(40, 180, 40, .8);