@import './_colors';
@import './_zindex';

$padding: 10px;

.bordered {
    border: 1px solid $primary;
}

.flex {
    display: flex;
}

.full-width {
    width: 100%;
}

.full-width-padding {
    width: calc(100% - $padding * 2);
}

.full-height {
    height: 100%;
}

.fit-width {
    width: fit-content
}

.fit-height {
    height: fit-content
}

.padding {
    padding: $padding;
}

.outer {
    align-items: stretch;
}

.inner {
    align-items: center;
}

